@font-face
{
	font-family: 'IBM VGA 8x16';
	src: url("../fonts/WebPlus_IBM_VGA_8x16.woff") format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face
{
	font-family: 'Consolas';
	src: url("../fonts/consola.ttf") format('ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face
{
	font-family: 'UnifontExMono';
	src: url("../fonts/UnifontExMono.woff") format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face
{
	font-family: 'gohufont';
	src: url("../fonts/gohufont-uni-14.ttf") format('ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face
{
	font-family: 'NanumGothic';
	src: url("../fonts/NanumGothic-Regular.ttf") format('ttf');
	font-weight: normal;
	font-style: normal;
}
.centerImage
{
 text-align:center;
 display:block;
}
body
{
	background:url('../../../drafts/ds/ellie_bg.gif');
}